*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    /* display: flex; */
}
#navbar .ar1{
    display: flex;
}
#navbar article div img{
    height: 50px;
    width: 130px;
}
#navbar article img {
    margin-left: 150px;
    margin-top: 30px;
}
#navbar .search{
    margin-left: 20px;
    height: 30px;
    width: 500px;
    margin-top: 40px;
}
#navbar .icon{
    margin-top: 48px;
    margin-left: -490px;
    color: #999999;
}
#navbar .ar2{
    display: flex;
    margin-left: 1200px;
    margin-top: -30px;
}
#navbar .icon1{
    margin-left: 5px;
    
}
#navbar div a{
    text-decoration: none;
    color: #1a1a1a;
}
#navbar .ar2 div {
    margin-left: 20px;
}
#navbar div button{
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
}
#navbar .icon2{
   margin-left: 40px;
}
/* ======================================secondnavbar============================= */
#secondnav .ar3{
    display: flex;
    margin-left: 150px;
}
#secondnav .ar3 div {
    /* margin-left: 150px; */
    margin: 20px;
}
#secondnav .ar3 div a{
    text-decoration: none;
    color: black;
}
#secondnav .ar4{
    display: flex;
    margin-left: 950px;
    margin-top: -55px;
}
#secondnav .ar4 div {
    margin: 20px;
}
#secondnav .ar4 div a{
    color: black;
    text-decoration: none;
}
#secondnav {
    background-color: #f5f5f5;
margin-top: 10px;
}
/* =========================================hero section========================== */
#hero .ar5 img{
    margin-left: 160px;
    margin-top: 20px;
    border-radius: 16px;
}

#hero .ar5{
    background-color: #c6c3c354;
}
#hero .ar6 {
    margin-left: 170px;
    margin-top: 30px;
    font-size: 25px;
}
#hero .ar7 div img{
    height: 400px;
    width: 250px;
}
#hero .ar7 {
    margin-left: 170px;
    margin-top: 20px;
    /* background-color: black; */
}
#hero .ar7 .emer a {
    margin-left: 450px;
    margin-bottom: -140px;
    border-radius: 16px;
    background-color: black;
}
#hero .ar7 .emer img {
    margin-top: -1000px;
    background-color: black;
}
#hero .ar7 div h1{
    font-size: 20px;
    margin-top: 10px;
}
#hero .ar7 div h6{
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
}
#hero .ar8 div img {
    height: 130px;
    width: 1200px;
    margin-top: 60px;
    margin-left: 170px;
}
#hero .ar8 div h1{
    margin-left: 170px;
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    margin-top: 90px;
}
#hero .ar9{
    display: flex;
}
#hero .ar9 div img {
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 50px;
}
#hero .ar9 div {
    margin-left: 150px;
    margin-top: 30px;
    margin: 20px;
}
/* ========hero01========================= */
#hero01 .ar10 div img {
    margin-left: 150px;
    margin-top: 30px;
    /* width: 1200px; */
    height: 100px;
}
#hero01{
    background-color: #2b3148;
    height: 650px;
}
#hero01 .ar10 .h1{
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    margin-left: 160px;
}
#hero01 .ar10 .h2 {
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    margin-left: 160px;
}
#hero01 .ar11  {
display: flex;
}
#hero01 .ar11 div img {
    height: 350px;
    width: 220px;
}
 #hero01 .ar11 div {
    margin-right: -130px;
    margin-left: 160px;
    margin-top: 10px;
 }
#hero01 .ar11 div img {
    border-radius: 10px;
}
#hero01 .ar11 .h3{
    
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 380px;
    margin-left: -580px;
}
#hero01 .ar11 .h4{
    margin: 0px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 405px;
margin-left: -55px;
}
#hero01 .ar11 .h5{
    
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 380px;
    margin-left: 190px;
}
#hero01 .ar11 .h6{
    margin: 0px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 405px;
margin-left: -75px;
}
#hero01 .ar11 .h7{
    
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 380px;
    margin-left: 190px;
}
#hero01 .ar11 .h8{
    margin: 0px;
    word-break: break-word;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 430px;
margin-left: -195px;
}

/* ==============hero 02======================== */
#hero02 .h1{
margin-left: 160px;
word-break: break-word;
color: rgb(51, 51, 51);
font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 1.17;
margin-top: 30px;
}
#hero02 .h1 a{
    text-decoration: none;
color: rgb(51, 51, 51);
    
}
#hero02 article {
    display: flex;
}
#hero02 article div  img {
height: 350px;
width: 200px;
}

#hero02 article div {
    margin-left: 160px;
}
#hero02 article div img {
    margin-right: -130px;
    margin-top: 20px;
    border-radius: 15px;
}
#hero02 .texts .h2 a{
font-size: 18px;
text-decoration: none;
color: #222222;
margin: 0px 0px 4px;
word-break: break-word;
color: rgb(34, 34, 34);
font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 1.33;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
#hero02 .texts .h2 {
    margin-top: 10px;
    margin-left: 165px;
}
#hero02 .texts .h3 a{
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero02 .texts .h3 {
    margin-top: 40px;
    margin-left: -190px;
    /* background-color: black; */
}
#hero02 .texts .h3 a {
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero02 .texts .h4{
    margin-left: 45px;
    margin-top: 10px;
}
#hero02 .texts .h4 a{
    font-size: 17px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero02 .texts .h5{
    margin-left: -225px;
    margin-top: 60px;
}
#hero02 .texts .h5 a{
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
#hero02  .texts .h6 {
    margin-top: 10px;
     margin-left: 75px;
}
#hero02 .texts .h6 a{
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero02 .texts .h7{
    margin-top: 70px;
    margin-left: -190px;
}
#hero02 .texts .h7 a {
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

/* =======================================hero 03======================== */
#hero03 .h1{
        margin-left: 160px;
        word-break: break-word;
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.17;
        margin-top: 30px;
        
}
#hero03 article {
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
}
#hero03 article div  img {
    height: 350px;
    width: 200px;
    }
 #hero03 article div img {
        margin: 10px;
    border-radius: 16px;    
    }
#hero03 .texts1 .h2 {
    margin-left: 10px;
    margin-top: -15px;
}
#hero03 .texts1 .h2 a{
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero03 .texts1 .h3 {
    margin-top: 20px;
    margin-left: -190px;
}
#hero03 .texts1 .h3 a {
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
#hero03 .texts1 .h4 {
    margin-left: 120px;
    margin-top: -5px;
}
#hero03 .texts1 .h4 a {
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero03 .texts1 .h5  {
margin-left: -125px;
margin-top: 25px;
}
#hero03 .texts1 .h5 a {
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
#hero03 .texts1 .h6 {
    margin-left: 100px;
    margin-top: -5px;
}
#hero03 .texts1 .h6 a {
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero03 .texts1 .h7{
    margin-left: -180px;
    margin-top: 30px;
}
#hero03 .texts1 .h7 a{
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
#hero03 .texts1 .h8 {
    margin-left: 110px;
    margin-top: -3px;
}
#hero03 .texts1 .h8 a{
    font-size: 18px;
    text-decoration: none;
    color: #222222;
    margin: 0px 0px 4px;
    word-break: break-word;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#hero03 .texts1 .h9 {
    margin-top: 55px;
    margin-left:-170px;
}
#hero03 .texts1 .h9 a {
    word-break: break-word;
    color: rgb(102, 102, 102);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
#footer .f1{
    /* background-color: black; */
    /* margin-left: 300px; */
}
#footer article .f1 {
    background-color: rgb(214, 64, 64);
    margin-left: 300px;
    margin-right: 1000px ;

}
/* ======================slider======================= */
#slider {
    margin-left: 160px;
    word-break: break-word;
    color: rgb(51, 51, 51);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    margin-top: 30px;
}
#slider  article {
    display: flex;
    margin-left: -20px;
    margin-top: 10px;
}
#slider  article div  img {
    height: 380px;
    width: 230px;
    }
 #slider  article div img {
        margin: 10px;
    border-radius: 16px;    
    }
    #slider  .texts1 .h2 {
        margin-left: 35px;
        margin-top: -10px;
    }
    #slider  .texts1 .h2 a{
        font-size: 18px;
        text-decoration: none;
        color: #222222;
        margin: 0px 0px 4px;
        word-break: break-word;
        color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #slider  .texts1 .h3 {
        margin-top: 40px;
        margin-left: -160px;
    }
    #slider  .texts1 .h3 a {
        word-break: break-word;
        color: rgb(102, 102, 102);
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    #slider  .texts1 .h4 {
        margin-left: 100px;
        margin-top: -5px;
    }
    #slider  .texts1 .h4 a {
        font-size: 18px;
        text-decoration: none;
        color: #222222;
        margin: 0px 0px 4px;
        word-break: break-word;
        color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #slider  .texts1 .h5  {
    margin-left: -160px;
    margin-top: 25px;
    }
    #slider .texts1 .h5 a {
        word-break: break-word;
        color: rgb(102, 102, 102);
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    #slider  .texts1 .h6 {
        margin-left: 100px;
        margin-top: -5px;
    }
    #slider  .texts1 .h6 a {
        font-size: 18px;
        text-decoration: none;
        color: #222222;
        margin: 0px 0px 4px;
        word-break: break-word;
        color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #slider  .texts1 .h7{
        margin-left: -140px;
        margin-top: 40px;
    }
    #slider  .texts1 .h7 a{
        word-break: break-word;
        color: rgb(102, 102, 102);
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    #slider  .texts1 .h8 {
        margin-left: 90px;
        margin-top: -3px;
    }
    #slider  .texts1 .h8 a{
        font-size: 18px;
        text-decoration: none;
        color: #222222;
        margin: 0px 0px 4px;
        word-break: break-word;
        color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #slider  .texts1 .h9 {
        margin-top: 50px;
        margin-left:-200px;
    }
    #slider .texts1 .h9 a {
        word-break: break-word;
        color: rgb(102, 102, 102);
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }

    #slider  .texts1 .h10{
        margin-top: 5px;
         margin-left: 90px;
        /* background-color: black; */
    }
    #slider .texts1 .h10 a {
        font-size: 18px;
        text-decoration: none;
        color: #222222;
        margin: 0px 0px 4px;
        word-break: break-word;
        color: rgb(34, 34, 34);
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #slider  .texts1 .h11 {
        margin-top: 60px;
        margin-left: -230px;
    }
    #slider .texts1 .h11 a {
        word-break: break-word;
        color: rgb(102, 102, 102);
        font-family: Roboto;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
    